# MATH 210 Introduction to Mathematical Computing

## January 18, 2023

* Lists, tuples and range objects
* List comprehensions
* Builting functions for sequences: `sum`, `len`, `min`, `max`

### Office hours:
* Mon 5-6pm
* Thu 3:30-5pm
* Fri 2-4pm

## Lists, Tuples, and Range Objects

There are 3 maintypes of sequences objects: lists, tuples and range objects. Lists and tuples are sequences of arbitrary values whereas range objects are sequences of integers.

Use square brackets `[ ... ]` to create lists:

In [1]:
squares = [1,4,9,16]
print(squares)

[1, 4, 9, 16]

Use parentheses `( ... )` to create tuples:

In [2]:
date = (2023,1,18)
print(date)

(2023, 1, 18)

In [3]:
Tuples

NameError: name 'Tuples' is not defined

In [4]:
date[0] = 1999

TypeError: 'tuple' object does not support item assignment

But we can change the entries in a list:

`range(a,b,step)` create a sequence of $[a,b)$ by increment step. The values are not actually created and stored when we define a range, instead the range object gives us the values only when we ask for it.

In [6]:
numbers = range(0,11)
print(numbers)

range(0, 11)

In [22]:
list(range(1,10,1))

TypeError: 'range' object is not callable

## Indexing and Slicing

Access the entries in a sequence by bracket syntax

In [13]:
primes = [2,3,5,7,11]
primes

[2, 3, 5, 7, 11]

In [15]:
primes[2]

5

In [16]:
primes[-1]

11

We can also access subsequences using `:` operator:

In [18]:
primes[2:5]

[5, 7, 11]

## List Comprehensions

A list comprehension is Python syntax for creating lists
```
sequence = [expression for item in iterable]
```
* `item` is a variable name
* `iterable` is a sequence
* `expression` is a Python expression involving `item`

In [20]:
squares = [n**2 for n in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

What is the maxium value of $$f(x)= \frac{1+x^3}{1+x^2}
$$
over the interval $(-1,1)$

In [ ]:
xs =